[2014-01-28 10:34] 0rex opened #4 "Incompatible configuration"
Hi Gustavo and thank you for your work! While trying to implement CheckJira function i've encountered the following error:

[code]

The whole plugin seem to be working on my machine, because without CheckJira.jiraurl/user/pass configuration, it checks comment for the issue ID (preventing from not typing it) and then just dies in the part, where credentials are needed. This error comes when i tryin

[2014-01-28 21:15] gnustavo commented on #4
Hi 0rex. I can't see anything wrong with your configuration. What version of Git::Hooks are you using?

[2014-01-29 08:15] 0rex commented on #4
Thank you for the fast reply. My version of Git::Hooks is 0.046 (was freshly installed). I had to use force key while installing it, because one of the dependencies required external connection to complete tests, and my lab was behind a firewall (i am not yet ready to test this script on my production environment), but i recall that other non-network related tests were passed. I just can't figure

[2014-01-29 10:11] gnustavo commented on #4
I found the problem! Please, make this change to Git/More.pm and see if it works for you. If it does I'll make a new release.

[code]

[2014-01-29 10:38] 0rex commented on #4
Thank you very much for your work! This fix works like a charm! I'm looking forward to see the new release soon.

[2014-01-29 10:38] #4 closed, assigned to nobody

[2014-01-29 11:45] gnustavo commented on #4
Thank you for reporting the problem. I'll try to make the new release today.

[2014-01-29 14:23] gnustavo commented on #4
Just to let you know that I released Git::Hooks 0.047. It should appear shortly at CPAN.

[2015-02-22 22:20] sshaw opened #9 "Put Functions in test-functions.pl into Test::Git::Hooks or Git::Hooks::Test"
I wanted to test the [hook I wrote](https://github.com/sshaw/Git-Hooks-RubyNoDebugger) so I had a peek at some of your tests. [test-functions.pl](https://github.com/gnustavo/Git-Hooks/blob/v1.6.9/t/test-functions.pl) contains a lot of functions that could be helpful to `Git::Hooks` plugin authors. You should make it a module.

[2015-02-23 11:25] gnustavo commented on #9
2015-02-22 19:20 GMT-03:00 Skye Shaw notifications@github.com:

Looking at your plugin it seems like an easily "generalizable" idea. I
mean, why have a plugin to look for a specific pattern if you can have one
to look after any pattern? I'm thinking about something like
Git::Hooks::DenyPattern that you could pass patterns to it via
configuration like this:

[githooks "denypattern"]
  deny = [MESSA

[2015-02-23 14:26] sshaw commented on #9
I agree that it would be good to have a generic plugin `DenyPattern`.

In the case of `RubyNoDebugger` this is something so common that it's better to prepackage it.

[2015-02-23 16:15] sshaw commented on #9
You should also add file extension.

Also, does `Git::Hooks` provide an easy way to get a diff?

[2015-02-23 19:59] karenetheridge opened #10 "shipped distribution contains README.pod"
Your distribution contains a README.pod at the top level directory, which will be installed for the user as lib/Git/README.pod.  Since this is just informational for user downloads, it should be called README instead so it won't be installed. You could even just shorten it to a simple 'see perldoc Git::Hooks'.

(I generate a README.pod in my distributions, but they only exist in the github reposit

[2015-02-24 11:49] gnustavo commented on #10
Ah, thanks for the explanation. I've inserted README.pod in the MANIFEST.SKIP (538c585d) so that it won't be part of the next release.

[2015-02-25 04:18] sshaw opened #11 "Make JIRA::REST and Gerrit::REST Optional Dependencies"
These modules depend on `REST::Client`, [which depends on `Crypt::SSLeay`](https://metacpan.org/source/MCRAWFOR/REST-Client-272/Makefile.PL#L8). `Crypt::SSLeay` requires compilation -which doesn't always go well. Failures can discourage non-Perl devs from using (or being sold on) a good Perl-based took like `Git::Hooks`.

`JIRA::REST` and `Gerrit::REST` should be [like `CheckLog` and `Text::SpellC

[2015-02-25 05:13] sshaw commented on #11
`REST::Client` also depends on `XML::LibXML`.

[2015-02-25 05:59] sshaw commented on #11
On OS X `Text::SpellChecker` fails too (no `aspell`, though I thought `Text::SpellChecker` wasn't picky about this, anyways...). At one point you did [remove the explicitly dependency on `Text::SpellChecker` and `JIRA::REST`](https://github.com/gnustavo/Git-Hooks/commit/a16860f), only to [put them back](https://github.com/gnustavo/Git-Hooks/commit/757233c) shortly thereafter. (There are still some

[2015-02-25 07:29] mikkoi commented on #11
I have also struggled with the installation, especially when other developers are involved. My solution is here: https://github.com/mikkoi/.git-repo-admin
The idea is that every Git repo has a directory called ".git-repo-admin", and there is a script called "initialize-hooks.sh". When developer activates the hooks, the system Perl installation is not touched. No sudo required, instead local instal

[2015-02-26 04:07] sshaw commented on #11
@mikkoi the problem I have with that is that the room for installation/compilation errors is greatly expanded from `Git::Hooks` to a full-fledged Perl install + `Carton`. OS X already comes with perl, for my team it's preferable to piggy back on that.

[2015-02-26 07:36] mikkoi commented on #11
@sshaw Our development environments are Debian and Ubuntu distributions. They also come with Perl. But with plenv (actually, plenv via anyenv: https://github.com/riywo/anyenv) .git-repo-admin starts with a fresh Perl installation and all packages are installed into it, instead of the system Perl (which could be any version). That way the Git::Hooks installation remains completely isolated from the

[2015-02-26 15:05] gnustavo commented on #11
Good points! I intend to get to it in a few days. Thanks!

2015-02-26 4:36 GMT-03:00 Mikko Koivunalho notifications@github.com:

##

Gustavo.

[2015-03-01 00:53] gnustavo commented on #10
Hmmm... just now I noticed that then the distribution would go without a README and it doesn't pass the Kwalitee tests.

The thing is I really would like to have a README.pod instead of a plain README because then  Github can render it better.

Do you know how can I have the cake and eat it too? :-)

[2015-03-01 07:06] karenetheridge commented on #10
README.md (markdown format) :)

[2015-03-01 19:08] karenetheridge commented on #10
I should have also mentioned that I use a README.pod in my distributions, but I only create it for the git repository itself, not the shipped distribution -- I do this with [ReadmeAnyFromPod]  location = root, phase = release  and then [Git::Commit].  (The shipped dist gets a simple README via the [Readme] plugin.)

[2015-03-03 12:29] gnustavo commented on #10
I've just posted a comment on [brian d foy's blog post](http://blogs.perl.org/users/brian_d_foy/2015/01/what-should-be-in-a-cpan-distro-readme.html) from where I got the idea to use a README.pod. The comment is still being held for aproval. I refered him to this PR and asked if he has any other ideas about how to solve this, because he will probably face the same problem.

I'll wait a little to se

[2015-03-03 17:56] karenetheridge commented on #10
I wanted to reply to that blog post, but unfortunately I'm one of the unlucky souls caught up in the b.p.o. issue from the last few months and I cannot log in or reply to anything.

Sadly, we are stuck with the legacy behaviour of the perl toolchain where .pm and .pod files in the root of the repository are installed into the subdirectory corresponding to the distribution name.  README files are g

[2015-03-03 18:53] gnustavo commented on #10
"b.p.o. issue"? I couldn't find that on Google. :-)

[2015-03-03 19:44] karenetheridge commented on #10
@gnustavo blogs.perl.org is presently experiencing major problems, blocking many people from logging in: https://github.com/blogs-perl-org/blogs.perl.org/issues/291

[2015-03-03 20:10] gnustavo commented on #10
Ah.. I think I had the same problem but since I use it rarely I thought I
forgot the password or something. I did comment today authenticating with
my Google account.

2015-03-03 16:44 GMT-03:00 Karen Etheridge notifications@github.com:

##

Gustavo.

[2015-03-04 03:16] sshaw commented on #10
[This is what I use](https://gist.github.com/sshaw/889041) to generate my README.pod.

[2015-03-04 05:26] karenetheridge commented on #10
@sshaw that's fine, as long as README.pod is in MANIFEST.SKIP so the copy in the repository itself is not caught up by `make dist`.

[2015-03-07 20:16] gnustavo commented on #11
I'll wait to see if [this ticket](https://rt.cpan.org/Ticket/Display.html?id=102340) is resolved in the REST::Client queue because if it is it'll solve the problem for every module that depends on it.

[2015-03-07 20:52] gnustavo commented on #10
@karenetheridge and @sshaw, my [comment has appeared](http://blogs.perl.org/users/brian_d_foy/2015/01/what-should-be-in-a-cpan-distro-readme.html#comment-1552093) but brian hasn't answered my question yet.

I saw that @sshaw  uses the INTALL.SKIP file in the https://github.com/sshaw/URI-fasp repo. I didn't know about it but I'm thinking that it could solve the problem, no? I mean, I can keep the R

[2015-03-09 04:21] sshaw commented on #10
`INSTALL.SKIP` will do the trick. As long as it's not installed I see no harm in having one. (Meta)?CPAN supports rendering it. It makes sense to target your docs for certain platforms, just as you would your code.

[2015-03-14 07:18] mikkoi opened #14 "Text::SpellChecker has made its way to Makefile.PL's PREREQ_PM list"
... and because of the installation problems (the file aspell.h is missing from e.g. Aspell's Debian distribution archive), I cannot install Git::Hooks.

I noticed that you had already removed Text::SpellChecker from dist.ini's recommended modules list. It seems to be haunting.

Because of the problems in Text::SpellChecker, I think we need some other way to integrate the support for it. Or it the

[2015-03-14 22:36] gnustavo commented on #14
Hi Mikko. I've just released v1.6.10 which should make Text::SpellChecker a recommendation again. Please check it out and tell me if it's ok.

[2015-03-14 22:38] gnustavo commented on #10
Hi Karen and Skye. I've just released v1.6.10 which should solve the README.pod problem by listing it on INSTALL.SKIP. Please, check it out and tell me if it's ok.

[2015-03-14 22:48] gnustavo commented on #11
I've just released v1.6.10 which makes JIRA::REST a recommendation, because it's only needed by the CheckJira plugin. I'm thinking about moving this plugin to it's own distribution so that it can require JIRA::REST.

Anyway, this doesn't solve this issue because we still require Gerrit::REST. But since it's required by core Git::Hooks and not merely by a plugin I can't easily change it. I'm going

[2015-03-15 03:51] karenetheridge commented on #10
yep, looks good to me!  :+1:

[2015-03-15 12:58] gnustavo commented on #10
Thanks!

[2015-03-15 12:58] #10 closed, assigned to gnustavo

[2015-03-15 21:13] mikkoi commented on #14
Thanks, Gustavo.
Installation works without problem again.

[2015-03-15 21:13] #14 closed, assigned to gnustavo

[2015-03-17 02:28] sshaw commented on #11
May be core, but not sure why. If people aren't using Gerrit no need to force them to install it, particularly with `Crypt::SSLeay`.

Maybe just change [this](https://github.com/gnustavo/Git-Hooks/blob/next/lib/Git/Hooks.pm#L382) to [something like this](https://github.com/gnustavo/Git-Hooks/blob/next/lib/Git/Hooks/CheckLog.pm#L51). Or [this](https://github.com/gnustavo/Git-Hooks/blob/next/lib/Git

[2015-03-17 02:33] sshaw commented on #10
You're skipping README.pod and TODO.pod, but the man pages are still installed:

[code]

[code]

May want to change MANIFEST.SKIP to `README.*`, etc...

[2015-03-23 01:01] gnustavo commented on #10
Ooops. I've skipped those too on 13da676 which will be included in the next release.

[2015-03-23 01:17] gnustavo commented on #11
I thought better and saw that you're right @sshaw. There's no need to make Gerrit::REST a requirement.

[2015-05-03 06:11] mikkoi opened #19 "Building Hook TriggerIronMQ"
Hi, Gustavo,

I'm going to start writing a new hook.
I have set up a remote repository with working dir which is connected to other functions. I have developed a service which runs an HTTPS port for webhooks. When it receives a POST message, it will pull from our central repository. This POST message will originate from IronMQ (www.iron.io) message queue.
Now I need a hook which will send a new me

[2015-05-03 13:35] gnustavo commented on #19
Hi Mikko.

It seems like an interesting idea. However, I'm thinking lately about
leaving in the Git::Hooks distribution just the most general purpose
plugins. For instance, I'm going to take out the CheckJira plugin and put
it in its own independent distribution. This will keep Git::Hooks lean and
devoid of any special dependencies, as CheckJira depends on JIRA::REST, for
example. After that I'll

[2015-05-03 13:55] mikkoi commented on #19
Hi, Gustavo,
Things are moving ahead then. Great!
I will prepare the TriggerBase class. Maybe we can work together on the plugin developers "toolkit"?
I'm considering more than simple inheritance. Maybe IoC (inversion of control), such as [Bread::Board](https://metacpan.org/pod/Bread::Board).
If you want to "subcontract" some part of development, ask me. If I have the time, I'll gladly help.
What

[2015-05-03 21:35] gnustavo commented on #19
2015-05-03 10:55 GMT-03:00 Mikko Koivunalho notifications@github.com:

Trigger is a very general name. It doesn't tell me anything about which
hooks can trigger what? Perhaps a more specific name would be more sellable.

What are you trying to acomplish specificaly? Are you trying to automate
the pushing of commits to several non-bare clones? If that's what you're
after, have you considered the pu

[2015-05-04 05:56] mikkoi commented on #19
Too heavy then. No problem. IoC is more a set of mind. :-)

Needs to be a generic name if and when I build more trigger hooks besides TriggerIronMQ. :-(

[2015-08-20 14:09] gnustavo opened #21 "CheckLog should be able to check the commit's title against a regex"
The specific case where this came up was in a commit with a title like this:

The CheckJira plugin validated the title and the CheckLog too, since the title wasn't empty. But the user would like to be able to require some text besides the JIRA issues being cited.

In this case it wouldn't do to simply check against a minimum size, because there could be many JIRAs being cited. With a regex we coul

[2015-08-31 00:55] raindarr opened #22 "syntax error at /home/Darrell/bin/githooks.pl line 2, near "/pod/Git::Hooks""
'Im new at Git and perl.. Trying to get the driver script to work..its coded as documented but I get terror when I run it inside repo
$  $HOME/bin/githooks.pl
Bareword found where operator expected at /home/Darrell/bin/githooks.pl line 2, near "/pod/Git::Hooks"
        (Missing operator before ::Hooks?)
Unknown regexp modifier "/G" at /home/Darrell/bin/githooks.pl line 2, at end of line
Unknown re

[2015-08-31 01:02] raindarr commented on #22
I am trying to exec "checkjira" hook

[2015-08-31 01:12] gnustavo commented on #22
Hi raindarr,

The script should be simply this:

[code]

That part inside parenthesis isn't necessary.

[2015-08-31 02:59] raindarr commented on #22
Thank you so much for responding Gustavo..  I did finally figure that out.. I am now faced with  "cannot locate Git/Hooks. Pm in @INC".. Is it referring to my $HOME/bin where i have .git-templates/hooks or a system level dir.. I am using CyGwin64.  Perl is in /usr/bin..  PERL5LIB point to perl folders...There is git-core in /usr/share...  Not sure where the driver script is looking..

Sent from my

[2015-08-31 03:08] gnustavo commented on #22
When you "use Git::Hooks" Perl tries to find a file called Git/Hooks.pm below some directory in the @INC variable. The problem is that it isn't finding it.

How did you install Git::Hooks? If you simply cloned the Git repository you can make it work by using the following script:

[code]

You have to change that `/path/to/git-hooks.git` to the path to your clone.

[2015-08-31 16:44] raindarr commented on #22
HI Gus..

I did not clone the repo.. I created repos on cygwin.. I have since
discovered that I did not have Hooks.pm in my environments..  I downloaded
from Git hib and am trying to find the right location for it.. I placed in
/user/lib/perl5/vendor_perl5/5.22 and several of folders defined my error
message..I even placed it in the .git of the repo where Im trying execute
the "githooks:  stilll g

[2015-09-01 01:53] raindarr commented on #22
Gus..

I had to re-install "Data::Utils.pm" and "Git/Hooks::More.pm
" into Cygwin64...

Now when i execute my "GitHooks.pl" driver from my repo...

Subroutine Git::Hooks::APPLYPATCH_MSG redefined at
/usr/lib/perl5/site_perl/5.22/Git/Hooks.pm line 36.
Subroutine Git::Hooks::PRE_APPLYPATCH redefined at
/usr/lib/perl5/site_perl/5.22/Git/Hooks.pm line 36.
Subroutine Git::Hooks::POST_APPLYPATCH redefin

[2015-09-01 12:35] gnustavo commented on #22
Hmm... weird.

Please, tell me how did you install Git::Hooks and the other Perl modules. Did you use the cpan command line tool?

Also, show me your current hook script.

Also, please, go to your repository, execute "git config -l" and show me the results. (Take care to redact any sensitive information that may be shown before posting them here.)

[2015-09-01 12:53] raindarr commented on #22
Thank you for responding..

I installed Perl via CYGWIN64 set then I have subsequently run CPAN for
individual modules,  I pulled down Hooks.pm from GitHUBand place in
"/usr/lib/Git/Hooks dir.. which executon "githooks.pl requested.. I ran
CPAN to get  Utils.pm and More.PM.. leading to the
"Subroutine redefined hook messages".. Below my githooks.pl and listing
from git config-l.. My goal is to sim

[2015-09-01 15:37] gnustavo commented on #22
You don't need to install Git::Hooks::More explicitly since it is part of the Git::Hooks distribution.

I don't use Windows or cygwin to check, but you should be able to install Git::Hooks by using the command `cpan Git::Hooks` or better yet if you have cpanm available: `cpanm Git::Hooks`. Both commands will fetch dependencies for you.

But now it seems that your library is botched because of thos

[2015-09-07 10:06] mikkoi opened #23 "Admin Rights Are Too Wide"
We need a way to limit admin access.
For instance, in our case, admin group members need to be able to create and remove branches (hook _CheckAcls_), but not be able to make mistakes in commit messages (_CheckLog_) or commit without a signature (_CheckCommit_).

Maybe every hook could have its own config item _admin_ specifying which groups have admin access in it.

[2015-09-07 18:49] gnustavo commented on #23
Can't you accomplish this by defining another group instead of "admin" and configuring it on the CheckAcls?

[2015-09-09 14:04] mikkoi commented on #23
Trying. Will report. Thank you for the suggestion.

[2015-09-17 13:46] mikkoi commented on #23
It worked perfectly.

extract from our config:
    groups = GroupAdmins = me other
    groups = GroupReleaseManagers = third.person
[githooks "checkacls"]
    acl = @GroupAdmins CRUD ^refs/heads/                        # Only admins can do everything to every branch.
    acl = ^.+ U ^refs/heads/master$                             # All users can update the master branch.
    acl = ^.+ CRUD ^refs/h

[2015-09-17 13:46] #23 closed, assigned to gnustavo

[2015-09-17 14:14] gnustavo commented on #23
Good to know that!

Just one tip to simplify your config: you can replace the `^.+` regexes by a simple `.`, because both match anything.

[2016-01-16 18:48] #22 closed, assigned to gnustavo

[2016-02-04 13:20] ate opened #24 "When pushing a new branch the CheckJira hook can deny this because no open issue found"
This was a surprise to us, and we haven't figured out yet how it actually works, or works incorrectly.

But when a user pushes a new remote branch, it seems the CheckJira hook tries to validate if there is any commit reachable from NEWCOMMIT ref (the branch HEAD, which is at this time also the baseline branch HEAD from which the new branch is created), which has an open JIRA ticket.
If none is fou

[2016-02-08 18:03] boudekerk commented on #24
It seems that when pushing a new branch, even if it includes other commits, the oldsha is 0000000000000000000000000000000000000000, and all commits are checked, instead of only the new ones. In our case this triggers the CheckJira hook against (all) old commits. If I'm not mistaken, if the oldsha is the above, you'd want to evaluate only commits "that will be reachable given the proposed creation,

[2016-02-08 19:33] schans commented on #24
Hi, @gnustavo ,

I have created a fix that at least for us seems to solve the problem. Could you please review and give some feedback. Not sure if there is a nicer way to achieve the same.

Thanks!
Bart

[2016-02-09 00:12] gnustavo commented on #24
Hi there!

Yes, you're right. CheckJira should check only new commits brought on by the new branch being pushed, and not re-check commits already reachable by other existing branches.

But as it is CheckJira should do this right. The specific code is in the Git::More::get_commits routine, which groks all the commits from a range. For new branches, the range starting point is the null-commit (40 x

[2016-02-09 11:06] boudekerk commented on #24
Hi @gnustavo,

I can reproduce it like so:

[code]

The output is:

[code]

With Bart's patch the push succeeds.

[2016-02-09 12:40] #11 closed, assigned to nobody

[2016-02-09 12:59] gnustavo commented on #24
Hi @boudekerk,

Thanks to your description I was able to figure out the bug. It happens when you push a new branch in which you haven't done any commits yet.

I just commited a fix in 023b463 and I'm going to cut a new release. Please, check it out and tell me if it works for you, ok?

Thanks!

[2016-02-09 13:04] gnustavo commented on #24
Oops, I just found a typo in my fix and amended the fix commit which is now 01d35db. ;-)

[2016-02-09 13:21] boudekerk commented on #24
Hi @gnustavo,

I just did a couple of test, and everything now seems to work as expected. Thank you!

Kind regards,
Bartosz

P.s. Can we expect a new release soon? If not we'll just patch More.pm by hand for now.

[2016-02-09 13:28] boudekerk commented on #24
Sorry, I missed that there already was a 1.12.2

[2016-02-15 13:18] boudekerk opened #26 "When pushing a merge, older commits on the branch being merged are checked."
Hi @gnustavo,

we have another issue which seems related to issue 24. This time we're merging, please see the following reproduction path:

[code]

I _think_ this could be solved using the same rev-list command as in issue 24. Could you please have a look?

Thank you,
Bartosz

[2016-02-15 15:42] gnustavo commented on #26
Yeah... I think you're right. Merge commits along the way from $old_commit to $new_commit make "git rev-list $new_commit ^$old_commit" return the commits from the other side of the merge too, which we don't want to see.

I think I should always use "git rev-list --not --all" and also exclude $old_commit if it's not the NULL commit (for new branches).

I'm going to make a patch next.

[2016-02-15 15:52] gnustavo commented on #26
I've just released version 1.12.3 which hopefully fixes this. It should appear shortly on CPAN. Please, check it out and tell me how it goes.

[2016-02-15 15:59] boudekerk commented on #26
I will. Thank you.

[2016-02-15 16:43] boudekerk commented on #26
It seems to work great with that fix Thank you!

[2016-02-15 16:43] #26 closed, assigned to nobody

[2016-02-15 17:12] gnustavo commented on #26
Thank you!

[2016-05-30 20:41] stevenpost opened #27 "[CheckJira] Unable to add comment"
Hi,

I'm trying out the git hooks for Jira integration, but I'm unable to make a comment appear in an issue.
No error is given (post-receive hook), but as soon as I change any other config item, githooks (rightfully) complains about the various checks in place.
Investigating this, I noticed an 'anomaly' on line 411 of the CheckJira code, where the variable '$PKG' is passed to retrieve the configur

[2016-05-31 07:13] mikkoi commented on #27
Unfortunately I don't have the chance to use and test the hook in my current setup and environment anymore.
It looks like that ($PKG) would be the problem, though. Well observed!

[2016-05-31 10:49] gnustavo commented on #27
Hi Steven and Mikko.

Yes, it is a bug. I just released Git::Hooks 1.12.5 fixing it. The new release should appear shortly at CPAN.

Thanks!

[2016-05-31 17:22] stevenpost commented on #27
Thanks, after a bit of debugging, there is still an issue here.

in the function notify_ref:
    foreach my $commit ($git->get_affected_ref_commits($ref)) {
        $errors += notify_commit_msg($git, $commit, $ref, $visibility);
    }

The code doesn't seem to enter that foreach loop, when doing a poor man's debug (print), the value returned from the get_affected_ref_commits call is 0.
my $stuff =

[2016-05-31 19:22] gnustavo commented on #27
Hmm... you're right. Shame on me, I don't have tests to check CheckJira's post-receive hook. ;-)

I investigated and found the root cause. During the post-receive hook the remote repository's local references are already modified. The Git::More::get_commits function, used by get_affected_ref_commits, assumes that the references aren't modified yet.

I'll have to think a bit more about this to solv

[2016-07-12 09:04] stevenpost commented on #27
Hi,

Have you had the chance to think about it?
My colleague wrote an additional script that allows you to close a ticket, maybe we can contribute this as well.

We would like to use this to integrate git and Jira in our puppet setup, although this would require a working post-receive hook ;)

Regards,
Steven

[2016-08-08 00:26] gnustavo commented on #27
Hi Steven. I'm sorry for having taking so long. But I think I fixed it now. I just released version 1.13.1 which should appear shortly at CPAN.

Please, test it out and let me know if it works for you.

[2016-08-08 00:26] #27 closed, assigned to gnustavo

[2016-11-06 13:43] JJ opened #30 "COMMIT_MSG working anyway"
This should fail the commit

[code]

But it does not:
[code]

Am I missing something? Shouldn't this return 0 with failure? It works even if it says 1, anyway.

This would be version 1.0.1, BTW. As you also see, there's a prepare-commit-msg hook running that is successful. But even all by itself it fails to fail, so that shouldn't be an issue.

[2016-11-06 18:17] gnustavo commented on #30
Juan, this is a bug in Git::Hooks. I'll try to fix it today. However, you may force it to fail by replacing the "print" call by something like this:

[code]

Please, let me know if it works.

I'll let you know when I release a fix for this.

Thanks!

[2016-11-06 18:18] JJ commented on #30
Thanks! If you give me a hint of where to look, I might lend you a hand...

[2016-11-06 19:04] gnustavo commented on #30
Thanks, Juan. I just released v1.14.1 which should appear on CPAN shortly. Please, give it a try and tell me if it works for you.

[2016-11-06 19:04] #30 closed, assigned to gnustavo

[2016-11-06 19:28] JJ commented on #30
:+1:
Thanks!

[2016-12-09 12:42] boudekerk opened #31 "Regression: pushing a new branch should not trigger checking past commits"
With recent versions we're seeing the is the same behaviour as reported earlier in https://github.com/gnustavo/Git-Hooks/issues/24. This was fixed in 1.12.2, but appears again as of 1.13.1. As a workaround we've reverted back to 1.13.0. The reproduction path from the issue above can be used.

[2016-12-09 12:46] boudekerk commented on #31
Updated reproduction path:
[code]

[2016-12-10 00:14] gnustavo commented on #31
Hi, @boudekerk . You're right. Thanks for the report.

I think I fixed it in 7e28924 but I'd like to ask you to validade my change before I can make a new release. Can you give it a try?

[2016-12-11 19:43] boudekerk commented on #31
Hi @gnustavo,

your fix indeed makes things work for us as expected. We don't have any post-(receive|update) hooks, so I didn't test whether those also still work.

Kind regards,
Bartosz

[2017-01-03 11:30] boudekerk commented on #31
Hi @gnustavo,

do you think you'll be able to create another release containing this fix?

Kind regards,
Bartosz

[2017-01-04 23:47] gnustavo commented on #31
Hi @boudekerk ,

I'm sorry for the delay. I just released v1.15.0 which should appear shortly on CPAN.

[2017-01-04 23:47] #31 closed, assigned to gnustavo

[2017-01-06 17:49] #24 closed, assigned to gnustavo

[2017-02-17 00:08] gnustavo commented on #9
@sshaw I just merged #35 in which @majlo implemented what you suggested here.

[2017-02-17 00:08] #9 closed, assigned to nobody

[2017-02-17 00:14] sshaw commented on #9
Ótimo!

[2017-03-17 16:09] #21 closed, assigned to gnustavo

[2017-05-25 16:10] autarch opened #38 "Using Git.pm makes this painful to use"
Here's the problem I encountered ...

The git package include a version of `Git.pm` that it uses to implement some commands, notably `git add -p`. This module ends up at `/usr/share/perl5/Git.pm`.

I'm not using system Perl for local dev, however, so the `perl` in my path is not `/usr/bin/perl`, and my perlbrewed `perl` does not include `/usr/share/perl5` in `@INC`.

This means that if I install `

[2017-05-25 17:19] gnustavo commented on #38
I feel your pain too. ;-)

I never thought about incorporating part of Git in Git::Hooks but some time ago I evaluated other Git wrapper packages available at CPAN and decided that it would be best to substitute Git::Repository for Git. It seems to be well maintained and featureful.

Do you know it? What do you think of this?

[2017-05-25 18:43] autarch commented on #38
Using `Git::Repository` sounds like a great idea!

[2017-05-25 19:26] gnustavo commented on #38
Great. Thanks.

I'll leave on vacations next month and I intend to have some fun with Git::Hooks by implementing a few of the things that are in my to do list. I'll try to do it then. Please, hold on! :)

[2017-06-16 00:42] gnustavo commented on #38
I've released a [TRIAL version 2.0.0 of Git::Hooks](https://metacpan.org/release/GNUSTAVO/Git-Hooks-2.0.0-TRIAL). It uses Git::Repository now. I'll wait for the first CPANTesters reports before doing a final release.

[2017-06-16 00:42] #38 closed, assigned to nobody

[2017-09-13 12:09] boudekerk opened #39 "regression: nocarp no longer working since 2.0.1"
After upgrading to 2.x, setting nocarp to 1 has no effect anymore:
[code]
This worked with the 1.16.0 and doesn't for any version since 2.0.1, including the latest 2.1.3

[2017-09-13 12:11] boudekerk commented on #39
Just to add, it is enabled via the githooks.nocarp option as indicated by the Changelog/documentation.

[2017-09-14 09:23] boudekerk commented on #39
Updated my comment and the title, as I haven't actually tested with 2.0.0

[2017-09-26 14:14] boudekerk opened #40 "CheckLog - matching the first line"
We have a policy where we require a valid JIRA issue on the first line. Unfortunately we're currently unable to enforce this. We would like way to match against the first line of the commit message, whether this is the title or part of the body.

It's currently possible to use title-match with an optional title (githooks.checklog.title-required 0), but additionally enabling githooks.checklog.match

[2017-09-26 21:04] gnustavo commented on #40
I'm not sure I understood you completely... What is this "title-match" you mentioned? The "githooks.checklog.match" doesn't exist... Do you mean "githooks.checklog.matchlog", instead?

I understood that you don't want to enforce the "title-required" option and that you want to look for JIRAs just on the commit message's first line, right?

I think you can accomplish this with the following configu

[2017-09-26 21:37] gnustavo commented on #39
Hi. I think I fixed it in v2.1.6 which I just released. Please try it out and let me know if it works for you.

Thank you for the heads up!

[2017-09-27 09:49] boudekerk commented on #39
I think the behaviour is reversed now. We now never get the suffix, regardless of the nocarp setting.
Which 'works for me', as I can now deploy it to production, but I guess it's still not the correct behaviour.

[2017-09-27 10:09] boudekerk commented on #40
Thanks! I didn't realise it was evaluated as a multi line regex, should have checked that of course. Sorry for bothering you.

Just to clarify I meant the title-match option of the CheckLog plugin, as I thought we needed this to achieve our goal. I guess we simply don't need the CheckLog plugin.

I still think there might be a nice improvement here, as with an optional title you might want to chec

[2017-09-27 10:09] #40 closed, assigned to nobody

[2017-10-02 12:49] boudekerk opened #41 "CheckWhitespace validates existing commits when pushing new branch"
Hi,

we're seeing issues with the CheckWhitespace plugin where it's validating existing commits, for example when pushing a new branch. See the following reproduction path:
Create an existing commit:
[code]
Set up the hook:
[code]
Push a new branch:
[code]
Expected result:
[code]
Actual result:
[code]

NB. In the past we reported a similar issue with the CheckJira plugin:
https://github.com/gnusta

[2017-10-02 13:41] boudekerk commented on #41
We also see this with merges, like in https://github.com/gnustavo/Git-Hooks/issues/26.

Let us know if you'd like us to create a separate issue and/or reproduction path.

[2017-10-02 14:54] boudekerk opened #42 "CheckWhitespace not respecting core.whitespace"
For some reason the CheckWhitespace plugin doesn't like certain files, for example this CND:
https://code.onehippo.org/cms-community/hippo-site-toolkit/raw/master/toolkit-resources/addon/unittestcontents/src/main/resources/hcm-config/unittestproject-types.cnd

[code]

This seems to do with CRLF lineendings. When converting those we're left with:
[code]
Which are both valid complaints.

[2017-10-05 12:53] boudekerk commented on #42
@gnustavo Just to add, the config we tested with included:
core.whitespace=blank-at-eol,space-before-tab,tab-in-indent,cr-at-eol,-blank-at-eof

So if I read this[0] correctly, using '-blank-at-eof' and 'cr-at-eol', the CRLF line-endings, not the blank line at the end should have been issues, only the trailing space at line 16. Using 'git diff --check' on the command line confirms this.

[0] https:

[2017-10-22 00:10] gnustavo commented on #39
Hi. It took me a while to be able to get back to this.

As I payed more attention to the issue I realized that the nocarp directive doesn't make sense in GH version 2 because the hooks now don't signal errors by dying but by registering error messages via the error method and returning 0. So, their messages shouldn't have line numbers inserted by Perl in any case.

So, I removed the directive from

[2017-10-22 01:12] gnustavo commented on #41
Hi. I think I just fixed this on a9ce24a. I'll make a new release soon.

Thanks!

[2017-10-22 01:30] gnustavo commented on #39
I just released v2.1.7. Please, check it out and tell me if it works for you.

[2017-10-22 01:31] gnustavo commented on #41
I just released v2.1.7. Please, check it out and tell me if it works for you.

[2017-10-22 01:32] gnustavo commented on #42
Hi, I just released v2.1.7. I couldn't reproduce the problem with this version. Can you check it out and tell me if it works for you, please?

[2017-10-23 11:34] boudekerk commented on #39
Works great. Thank you

[2017-10-23 11:34] #39 closed, assigned to gnustavo

[2017-10-23 12:31] boudekerk commented on #41
Seems to work like a charm. Thanks!

[2017-10-23 12:31] #41 closed, assigned to gnustavo

[2017-10-23 12:42] boudekerk commented on #42
I can't reproduce it with 2.1.7 either. Thanks again.

[2017-10-23 12:42] #42 closed, assigned to gnustavo

[2017-10-27 16:55] gnustavo opened #43 "Implement Git::Hooks::Notify plugin"
Implement a plugin called something like Git::Hooks::Notify to send notifications (initially by email) when specific files are changed in the repository. It could be associated with the post-receive/post-update hooks.

The files should be specified by regular expressions matching their paths.

It could be usefull to be able to restrict notifications to changes affecting specific branches, which sh

[2017-12-12 06:16] eserte opened #44 "t/02-notify.t failures"
t/02-notify.t fails on some of my smokers:
[code]
It seems that this happens on Debian wheezy+jessie and FreeBSD 9.2 systems. The test suite passes on Debian stretch, Ubuntu 16.04 and FreeBSD >= 10.

[2017-12-12 06:31] eserte commented on #44
Maybe the git version is relevant:
[code]
So it works starting from git version 2.7.4.

[2017-12-12 14:02] gnustavo commented on #44
Thank you! I'll take a look into it.

[2017-12-12 16:38] gnustavo commented on #44
Hi. I just released version 2.2.1 which should fix this.

Thanks!

[2017-12-12 16:38] #44 closed, assigned to gnustavo

[2018-02-26 19:43] #43 closed, assigned to gnustavo

[2018-02-26 20:05] eserte opened #45 "t/02-prepare-log.t failures (2.6.0)"
On a Ubuntu 16.04 system I see the following failure:
[code]

[2018-02-26 21:39] gnustavo commented on #45
Oops. I thought that the --in-place option was implemented in Git 2.7.4 but in fact it was implemented only on Git 2.8.0.

I'll amend the test and release a bugfix version asap.

Thank you.

[2018-02-26 21:47] gnustavo commented on #45
I just uploaded v2.6.1 to PAUSE. It should appear on CPAN shortly. Please, let me know if it fixes this.

[2018-02-27 20:51] eserte commented on #45
Yes, it looks better: http://fast-matrix.cpantesters.org/?dist=Git-Hooks%202.6.2
But not yet perfect: it fails on my CentOS6 smoker with git 1.7.1:
[code]

[2018-02-28 12:34] gnustavo commented on #45
Yes. I just released v.2.6.3 to fix this test. Please, check it out when it appears on CPAN.

[2018-03-02 16:48] wleona3 opened #46 "Option to ignore the check jira hook when jira is down"
Would be great to have an option to ignore the jira git hook when requests to the API throw timeouts or non-authentication 500 errors. Any thoughts?

[2018-03-02 21:15] eserte commented on #45
Looks fine so far: http://fast-matrix.cpantesters.org/?dist=Git-Hooks%202.6.3

[2018-03-02 21:15] #45 closed, assigned to gnustavo

[2018-04-29 09:46] stacyharper opened #47 "Install documentation problem - interpreted $0"
Hello guys,
I recently discovered this framework which is very interesting.

A problem stucked me almost 2h when I tried to install it;

The install doc say :
[code]

But when the cat command is executed, it created the git-hooks.pl with this content :
[code]

Here you can see that the $0 variable has been interpreted by my bash cat command '-zsh' (which is actualy normal).

For a reason I do not

[2018-04-29 13:36] gnustavo commented on #47
Hi Eddie. Thanks for the report. I've just committed a fix to this.

I'm going to cut a new release today which will incorporate the fix.

[2018-04-29 13:36] #47 closed, assigned to gnustavo

[2018-04-29 14:56] stacyharper opened #48 "Token check only use working dir file state"
Hello guys,
After some tests, it's clear that file token check only read working dir files.

- Add "todo" in a file
- Git add the file
- Git commit => token check deny the commit (cool !)
- Remove "todo" from the file
- DO NOT GIT ADD THE FILE
- Git commit => "token check DO NOT deny the commit (Whoo !)

I was affraid that CheckFile only read the working dir files, but, reading the code teach me t

[2018-04-30 01:18] gnustavo commented on #48
Hi Eddie. Good catch! Thanks for the report.

I just fixed it on commit 29ef0c7.

I'll cut a new release soon.

[2018-04-30 01:18] #48 closed, assigned to gnustavo

[2018-04-30 16:53] stacyharper opened #49 "Little problem."

[2018-04-30 16:53] #49 closed, assigned to nobody

[2018-04-30 16:57] stacyharper opened #50 "Problem, only first git diff-tree is checked"
I inspected a little bit and i found that :

[code]

do not work but

[code]

will...

It seems that the $extra variable in check_everything is not what the $git->run fetch.

Sorry for non additionnal informations, I do not have lot of time.
Just want to repport this one.

[2018-05-01 00:34] gnustavo commented on #50
Hi Eddie. Thank you very much for yet another bug report.

I fixed this one on commit e465e87.

I'll cut a new release soon.

[2018-05-01 00:34] #50 closed, assigned to gnustavo

[2018-05-03 17:44] gnustavo opened #51 "Set Gerrit reviewers automatically"
Something like [this Gerrit plugin](https://gerrit.googlesource.com/plugins/reviewers) or [this one](https://gerrit-review.googlesource.com/admin/repos/plugins%2Freviewers-by-blame).

[2018-05-03 17:47] gnustavo opened #52 "Support LDAP groups"
It should  be possible to consult groups in a LDAP server.

[2018-05-03 17:54] gnustavo opened #53 "Skip checks after a timeout"
Sometimes the checks take a long time, such as when too many files are affected in a commit and they all need to be checked. Git::Hooks should accept a configuration option such that it would skip further checks after a specified amount of time.

The timeout should be detected by a signal handler which would enable a flag in the Git::Repository object, which could be checked by a method called "ch

[2018-05-03 18:11] gnustavo opened #54 "Support a versioned git-hooks.config file"
Normally, only the Git server administrator can edit the configuration files needed to configure Git::Hooks for server hooks, because the files reside in the server.

It would be nice if the configuration could be extended by a file versioned in the repository. For example, a file called `git-hooks.config` at the repository root. The fact that the file can be different in different branches is a p

[2018-05-03 18:13] gnustavo commented on #46
Good idea. I've been bitten by this more than once too.

I won't be able to work on this in the near future, though. But I'm keeping it on my todo list. ;-)

[2018-05-03 18:21] gnustavo commented on #19
Hi Mikko. I'm closing this since we won't pursue the initial idea of adding a new plugin to the distribution.

[2018-05-03 18:21] #19 closed, assigned to nobody

[2018-10-01 08:21] mikkoi opened #55 "Behavior change in ref_update hook"
I am not a Gerrit user.
Just want to bring this to your attention:
https://www.gerritcodereview.com/2.14.html#Behavior-change-in-ref_update-hook

[2018-10-02 01:01] gnustavo commented on #55
Thanks, Mikko, I didn't know about that yet. I'll try to make the necessary
accomodations soon.

Em seg, 1 de out de 2018 às 05:21, Mikko Koivunalho <
notifications@github.com> escreveu:

--
Gustavo.

[2018-10-03 09:52] eserte opened #56 "t/02-check-file.t fails (with newer git?)"
On my freebsd 11 smokers the test suite fails:
[code]

Statistical analysis suggests that this is failing for newer git versions (2.18.0 and 2.19.0):
[code]

[2018-10-03 10:08] eserte commented on #56
I was able to reproduce the problem also in a debian:buster system (where also a newer git is installed (2.19.0)). The Dockerfile:

[code]

[2018-10-06 21:03] gnustavo commented on #56
Thanks!

I just released version 2.9.7 which should fix this problem.

[2018-10-06 21:03] #56 closed, assigned to gnustavo

[2018-10-06 21:51] gnustavo commented on #55
I read more about the change. It seems to me that Git::Hooks still supports the `ref-update` hook as it is. But since the hook is not invoked anymore on commits received for review, or on submit of changes, it would be nice to also support the new hooks `commit-received` and `submit`.  I marked this issue as an *enhancement* to signify this.

I'm using Gerrit 2.15.2 at work but I haven't noticed t

[2018-11-06 14:11] gnustavo commented on #55
Hi, Mikko. I just released Git::Hooks v2.10.0 which now supports the two new Gerrit synchronous hooks.

[2018-11-06 14:11] #55 closed, assigned to gnustavo

[2018-11-10 00:25] gnustavo commented on #51
Since those are already Gerrit plugins there is no value in simply copying their functionality.

I'm canceling this.

[2018-11-10 00:25] #51 closed, assigned to nobody

[2018-11-10 18:43] gnustavo commented on #53
I implemented a githooks.timeout option but not quite as I described above.

It's not released yet, but it will be part of the next release.

[2018-11-10 18:43] #53 closed, assigned to nobody

[2018-12-19 23:24] oktal3700 opened #57 "Use of uninitialized value $CFG at Git/Hooks.pm line 80"
### Steps to reproduce

Place this script in `.git/hooks/pre-receive`:

[code]

All it does is refuse all pushed changes. Execute it with empty stdin to simulate no changes:

[code]

### Output

[code]

### Impact

This affects all kinds of hooks, whenever they return false to indicate failure.

### Cause

This regressed in a971c01b7497515ca3e87e08a6f5e45a263082a9. At line 80, `$CFG` gets the valu

[2018-12-20 23:33] gnustavo commented on #57
Thanks, @oktal3700 . I'm releasing v2.10.1 which includes your proposed fix.

[2018-12-20 23:33] #57 closed, assigned to gnustavo

[2019-01-17 11:28] gnustavo opened #58 "CheckJira should be able to disregard some commits by their message contents"
The CheckJira plugin looks for Jira keys in the commit messages and is usually configured to abort if it can't find any.

However, when it processes commits generated automatically (such as merge, squash, and revert commits) the messages are generated automatically and may not satisfy all CheckJira constraints.

There are situations in which these commits are generated at the git server (such as w

[2019-01-17 13:29] boudekerk commented on #58
I think for most cases this can already be achieved by combining the CheckJira and CheckLog plugins:
[code]

[2019-01-17 20:20] gnustavo commented on #58
Clever, @boudekerk !

The error message would be very opaque to the user, though. I think this specific case deserves a specific solution in CheckJira.

Or perhaps a more general solution common to all plugins... Something like `githooks.dont-check-commit-matching-message`.

But your solution can solve the problem right now. Thanks!

[2020-06-30 15:28] boudekerk opened #61 "Distinguish between multiple JIRA instances"
Hi,

we have two separate JIRA instances, is it possible to have two (global) plugin configurations and specify on the project which one to use without forking the plugin under a different name?

Thanks!

[2020-07-01 02:40] gnustavo commented on #61
Hi,

As it is each Git repository can have only one Jira instance configured using the `jiraurl`, `jirauser`, and `jirapass` options. You can define these options on the local config of each repository.

Do you want to have two instances configured in the same repository? How would they be selected during a pre-receive hook, for instance? I'm not sure I get what you're aiming for...

[2020-07-01 07:47] boudekerk commented on #61
Sorry, I should have provided more context.

Some of our users can configure the hooks themselves, they edit a Json that's then processed to set the config on the repositories. For obvious reasons we don't want them to set the jirauser/pass, so those are set globally on the server and they just configure the plugin and some properties like the JQL.

There's two JIRA instances, but obviously, only

[2020-07-02 00:15] gnustavo commented on #61
I see...

In this case, I think you could simply make two copies of the CheckJira.pm file in the same directory. Call them CheckJira1.pm and CheckJira2.pm. Then edit CheckJira1.pm and change the package name (4th line) to `Git::Hooks::CheckJira1`. Do the same to CheckJira2.pm. Then you would end up with two new plugins which you would configure like this:

[code]
I haven't tried it but I think it

[2020-07-02 15:34] boudekerk commented on #61
Looks to be working. Thanks!

[2020-07-02 16:25] gnustavo commented on #61
Great!

[2020-07-02 16:25] #61 closed, assigned to gnustavo

[2020-07-02 16:56] boudekerk opened #62 "Error message prefix"
It would be nice if we could prefix the actual error message. GitLab requires this to show the message in the UI.
The error-header doesn't work for this as it's not on the same line.

https://docs.gitlab.com/ee/administration/server_hooks.html#custom-error-messages

[2020-07-05 02:05] gnustavo commented on #62
Good idea! I'll think about it.

[2020-07-05 17:53] gnustavo commented on #62
I just released v2.12.0 with a new configuration option (githooks.error-prefix) which should help with this.

Please, try it out and comment.

[2020-07-05 17:53] #62 closed, assigned to gnustavo

[2020-07-06 11:22] boudekerk commented on #62
Works like a charm. Thanks!

[2020-09-13 22:21] mikkoi opened #65 "Support Extended Regular Expressions in Config Vars"
How could we support extended regular expressions in configuration instead of the more limited standard Perl regex?
Add "/x" to the end of the config var string?

This would be useful because extended regex is often more readable.

[2020-09-13 23:52] gnustavo commented on #65
You mean the POSIX Extended Regular Expressions are more powerful than Perl's? I don't think so.

Please, can you show me some examples to make it clearer?

[2020-09-14 08:35] mikkoi commented on #65
It's not POSIX I'm after but more whitespace with the /x and /xx Perl modifiers.
This is especially important with Git config limitations, all those double backslases, "\\\\".

https://perldoc.perl.org/perlre.html#Details-on-some-modifiers

[2020-09-14 11:44] gnustavo commented on #65
Ah, now I get it.

This is a good idea. The way Git::Hooks treat options that may have regexes as values it totally ad-hoc. I think there should be a method in Git::Repository::Plugin::GitHooks responsible for grokking such values so that every plugin could use it. This way we would be able to have more consistency and also to make improvements in a single spot.

I'll have to take some time to thi

[2020-10-01 20:38] mikkoi opened #66 "Git::Hooks::Notify to support address generation on the fly"
A notify rule is specified as

    rule [REFS] [OPTIONS] RECIPIENTS [-- PATHSPECS]

It would be nice if the recipients could also be generated on the fly. For example, I would like to use my `.mailmap` file because all repo users are listed there anyway. Or any other way to get the user names and email addresses. Would also like to send emails like `Firstname Lastname <firstname.lastname@example.c

[2020-12-11 12:16] gnustavo opened #67 "CheckCommit should deny big commits"
We could have a check to deny commits exceeding a specified size in bytes.

[2020-12-12 01:39] gnustavo commented on #67
Hmm... the concept of the commit size isn't as obvious as I imagined. Look at [this](https://github.com/nneonneo/sha1collider.git).

[2020-12-12 13:09] marceloavilaoliveira commented on #67
I didn't understand. How "sha1collider" is related to this issue?

[2020-12-12 18:12] gnustavo commented on #67
Oops. Sorry. That was the wrong link. I meant this one: https://stackoverflow.com/questions/40697663/show-commit-size-in-git-log

[2022-02-04 13:02] boudekerk commented on #58
We are actually running into the issue where people seeing it the first time aren't clear about the issue. So if the specific solution in CheckJira would be considered, that might be nice.

The general one I think would benefit from a second property specifying which plugins. I can imagine that you wouldn't want there to be a message to skip every check. For example ACL, but which ones might be di